.ga-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 150vh;
  margin-left: 15vh;
}

/* shared card */
.ga-card {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  height: 320px;              
  display: flex;             
  flex-direction: column; 
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create-btn{
    background-color: #131633;
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 36px;
    font-size: 20px;
}

.create-btn:hover{
    cursor: pointer;
}
/* titles */
.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #111827;
}

/* GROUPS */
.groups-list {
  overflow-y: auto;
  flex: 1;
}

.group-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.95rem;
}

.group-name {
  color: #374151;
}

.group-amount {
  font-weight: 600;
}

.group-amount.positive {
  color: #2ecc71;
}

.group-amount.negative {
  color: #d63031;
}

/* RECENT ACTIVITY */
.activity-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  flex: 1;
}

.activity-row {
  font-size: 0.9rem;
  color: #374151;
}

.delete-btn{
    background-color: white;
    color: #d63031;
    border: none;
    font-size: 14px;
}

.delete-btn:hover{
  cursor: pointer;
}
.group-link {
  text-decoration: none;
  color: #374151;
  cursor: pointer;
}

.group-link:hover {
  text-decoration: underline;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
}

.modal h3 {
  margin-bottom: 12px;
}

.modal input {
  width: 95%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  background: #ddd;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.create-group-btn{
    background-color: #131633;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.groups-list::-webkit-scrollbar,
.activity-list::-webkit-scrollbar {
  width: 6px;
}

.groups-list::-webkit-scrollbar-thumb,
.activity-list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
