

.navbar {
  position: sticky;
  top: 0;

  height: 54px;
  width: 186vh;

  background: white;
  color: #131633;

  display: flex;
  justify-content: space-between; 
  align-items: center;

  padding: 0 2rem;
  box-sizing: border-box;

  z-index: 1000;
}

/* right side */
.logout-area {
  display: flex;
  gap: 30px;
}

.logout-btn {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}
