.content-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.transactions {
  flex: 2;
  height: 400px;      
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.transaction-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.history {
  flex: 1;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}
.transaction-btn{
    background-color: rgb(199, 168, 112);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 7px;
}

.edit{
    background-color: #3d8c79;
}

.dlt{
   background-color: #a2352b;
}

.transactions-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
}

.transactions-scroll {
  scroll-behavior: smooth;
}

.transactions-scroll::-webkit-scrollbar {
  width: 6px;
}

.transactions-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}