html, body {
    /* height: 99%; */
    font-family: "Dosis", sans-serif;
}
.container{
    height: 99%;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding-top: 7%;
}
.form-class{  
    background-color: white;
    height: 600px;
    width: 500px;
    border-radius: 10%;
    justify-content: center;
}
.password-field {
  position: relative;
}
.form-title{
  font-size: 50px;
  /* font-style: normal; */
  text-align: center;
  color: #131633;
}


.form-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box{
    all: unset;
    box-sizing: border-box;
    height: 35px;
    width: 300px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 20px;
}
.show-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}
.signup-btn{
    background-color: #131633;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

.log-btn{
    all: unset;
    background-color: white;
    color: #131633;
    padding-left: 2px;
}

.error-text{
    color: #d63031;
    font-size: 15px;
}